body{

}
#nav-item-selected{

}

.nav-link:hover{

}

header{
    margin-left : 5%;
    margin-right : 5%;
}

footer{
    margin-left : 5%;
    margin-right : 5%;
}

#mail-card{
    margin : 5%;
}

#social-network-card{
    margin : 5%
}

